h1 {
  background-color: black;
  text-align: center;
  padding: 16px;
  font-size: 20px;
  color: white;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  input {
    width: 200px;
    padding: 4px;
    margin-top: 20px;
    height: 28px;
  }
  button {
    width: 120px;
    margin-top: 20px;
    margin-left: 12px;
    height: 40px;
  }
}

.gifs {
  display: grid;
  width: 80%;
  grid-template-columns: auto auto auto auto;
  margin: 0 auto;
  column-width: 18em;
  column-gap: 1em;
  cursor: pointer;
  img {
    width: 98%;
    margin: 2%;
  }
}
